.card-signin {
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}
  
.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.error {
  color: red;
}


/* Custom input styles */
.form-control-custom {
border-style: solid;
border-radius: 0;
border: none;
border-bottom: 1px solid #ced4da;
}
.form-control-custom:focus {
box-shadow: none;
}

.app-title {
letter-spacing: 1px;
}


/*Login Custom CSS*/

.form-background{
min-height:100%;
min-width:1024px;
position:fixed;
top:0;
left:0;
width:100%;
height: auto; 
}
.loginInContent{
border-radius: 0.3rem !important;
min-height: 394px;
}

.img-card{
border: none;
border-right: 1px solid #D5D5D5;
}

.form-link{
font-size: 16px;
line-height: 21px;
letter-spacing: 0;
color: #494949;
opacity: 1;
text-decoration: underline;
}

.btn {
font-weight: normal;
}
.button-signin{
background-color: #D228A6;
background: #D228A6 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 10px #00000033;
opacity: 1;
color:#FFFFFF;
width: 115px;
height: 40px;
border-radius: unset;
border:none;
text-align: center;
font: 500 18px/24px Segoe UI;
}
.button-signin-blue{
background: #584BDD 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 10px #00000033;
color:#FFFFFF;
}
.button-cancel{
box-shadow: 0px 6px 10px #00000033;
border: 1px solid #D5D5D5;
opacity: 1;
background-color: white;
color: #848484;
width: 115px;
height: 40px;
border-radius: unset;
}
.ruler {
height: 337px;
border: 1px solid #D5D5D5;
width: 0px;
opacity: 1;
margin-top: 50px;
}

.form-control {
border-radius: 0;
height: calc(1.5em + .75rem + 5px);
border: 1px solid #D5D5D5;
}

.min-h {
min-height: 233px;
}

.form-title{
font: normal 24px/49px Segoe UI;
color: #494949;
opacity: 1;
}

.form-label-group label {
font: normal 16px/22px Segoe UI;
letter-spacing: 0;
color: #494949;
opacity: 1;
}
.form-link{
font: normal 16px/21px Segoe UI;
color: #494949;
opacity: 1;
}

.button-signin, .button-cancel{
font: normal 18px/24px Segoe UI;
}

.finastra-logo {
width: 136px;
height: 71px;
}
/* .accenture-logo {
width: 131px;
height: 35px;
} */

.accenture-logo{
  top: 389px;
  left: 335px;
  width: 190px;
  height: 57px;
  opacity: 1;
}

.login-bg{
  top: -2px;
  left: -4px;
  /* width: 1375px;
  height: 913px; */

  width: 100vw;
  height: 100vh;

  /* background: transparent url('img/Group 20853.png') 0% 0% no-repeat padding-box; */
  background: transparent url('../../assets/backgroundImage.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.corp-size{
  top: 450px;
  left: 334px;
  width: 213px;
  height: 33px;
  

  text-align: center;
  font: normal 20px/30px Segoe UI;
  letter-spacing: 0.45px;
  color: #585858;
  opacity: 1;

  margin-left: 21%;
}



/* .card-size{
  top: 195px;
  left: 241px;
  width: 884px;
  height: 520px;
} */