<div class="signUp-background">
  <div class="container">
    <div class="row align-items-center form-background">
      <div class="col-lg-8 col-xl-5 mx-auto">
        <div class="card card-signin flex-row my-5 signInContent">
          <div class="card-body-main">        

              <form class="form-signin" [formGroup]="loginForm" #f="ngForm" (ngSubmit)="onSubmitloginForm(f.value)">
  
                  <div class="card-group">
                      <div class="card img-card">
                              <div class="sidebar-brand-text" >
                                  <img src="../../assets/Finastra.png" alt="Logo" width="231px" height="125px">
                              </div>
                            <!-- <p class="card-text">Some text inside the first card</p>
                            <p class="card-text">Some more text to increase the height</p> -->
                          
                        </div>
                        <div class="ruler"></div>
                        <div class="card" style="border: none;">  
                          <h6 class="form-title">Sign In</h6>
                          <!-- <div class="card-body text-center">
                            <p class="card-text">Some text inside the second card</p>
                          </div> -->
                          <div class="form-label-group form-labels" >
                              <label class="form-label-email" for="email">Email Address</label>
                              <div>
                                <input formControlName="email" type="text" id="email" class="form-control input-phone" placeholder="" 
                                [ngClass]="{'is-invalid': loginForm.controls.email.touched && loginForm.controls.email.invalid }" required>
                              </div>
                            </div>
                

                            <div class="form-label-group form-label-password">
                                <label class="form-label-pwd" for="password">Password</label>
                                <div>
                                  <input formControlName="password" type="text" id="password" class="form-control input-phone" placeholder="" 
                                  [ngClass]="{'is-invalid': loginForm.controls.password.touched && loginForm.controls.password.invalid }" required>
                                </div>
                              </div>

                            <div class="form-label-group" >
                               <!-- <label for="password" style="margin: unset;color: #4a4949;font-weight: 400;font-size: smaller !important;">Password</label> -->
                           
                              <a class="form-link" href="">Forgot Password ?</a>
                            </div>
                            <!-- <button class="btn btn-lg btn-block text-uppercase" type="submit"
                                    [disabled]="!loginForm.valid"
                                    >Login</button> -->
                                    <div class = "row form-buttons">
                                      <div class="col-md-6">
                                        <!-- <input type="button"> submit/>   -->
                                        <button type="submit" [disabled]="!loginForm.valid" class="button-signin" value="signIn">Sign In</button>
                                        <!-- <button type="button" style="background-color: #bd20a2;color:white;height: 35px;border-radius: unset;margin-left: 30px;" class="btn btn-sm">Sign In</button> -->
                                      </div>
                                      <div class="col-md-6">
                                          <button type="submit" class="button-cancel" value="cancel">Cancel</button>
                                          <!-- <button type="button" style="background-color:white;color:gray;border: 1px solid lightgray;" class="btn btn-sm">Cancel</button> -->
                                        </div>
                                    </div>
                                        
                                    
                        </div>
                  </div>
                  <!-- <div class="form-label-group"> -->
                    <!-- <label for="username">Username</label> -->
                    <!-- <div>
                      <input formControlName="username" type="text" id="username" class="form-control input-phone" placeholder="USERNAME" 
                      [ngClass]="{'is-invalid': loginForm.controls.username.touched && loginForm.controls.username.invalid }" required>
                    </div>
                  </div>
      
                  <div class="form-label-group"> -->
                    <!-- <label for="password">Password</label> -->
                    <!-- <div>
                      <input formControlName="password" type="password" id="password" class="form-control" placeholder="PASSWORD" 
                      [ngClass]="{'is-invalid': loginForm.controls.password.touched && loginForm.controls.password.invalid }" required>
                    </div>
                  </div>
                      
                  <button class="btn btn-lg btn-block text-uppercase" type="submit"
                          [disabled]="!loginForm.valid"
                          >Login</button> -->
                </form>



          </div>
        </div>
      </div>
    </div>
  </div>
  </div>    