<div class="login-bg">
  <div class="container">
    <div class="row align-items-center form-background">
      <div class="col-lg-8 col-xl-8 mx-auto">

        <div class="card card-signin flex-row loginInContent p-5">
          <div class="card-body-main w-100">        

              <form class="form-signin d-flex w-100 h-100" [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login(f.value)">
  
                  <div class="card-group w-100">
                      <div class="card img-card d-flex align-items-center justify-content-center">
                          <div class="w-100 text-center">
                             <img src="../../assets/Accenture.svg" alt="Logo" class="accenture-logo"><br> 
                             <div class="corp-size">
                              Corporate Banking
                             </div>
                              <!-- <div class="d-flex w-100 align-items-center justify-content-around">
                                <div class="w-50" style="border-right: 1px solid #D5D5D5;"><img class="finastra-logo" src="../../assets/Group_22006.png" alt="Logo" class=""></div>
                                <div class="w-50"><img class="accenture-logo" src="../../assets/Group_22006.png" alt="Logo" class=""></div>                                  
                              </div>  -->
                          </div>
                      </div>
                        <div class="card border-0 d-flex align-items-center justify-content-center">  
                          <div class="card-body p-0 w-75">
                            <div class="min-h">
                              <h5 class="form-title mb-3">Sign In</h5>

                              <!-- company id -->
                              <!-- <div class="form-label-group mb-2 form-labels" >
                                  <label class="mb-1" for="companyId">Company ID</label>
                                  <div>
                                    <input formControlName="companyId" type="text" id="companyId" class="form-control" placeholder="" 
                                    [ngClass]="{'is-invalid': loginForm.controls.companyId.touched && loginForm.controls.companyId.invalid }" required>
                                  </div>
                              </div>       -->
                              <!-- user id -->
                              <div class="form-label-group mb-2 form-labels" >
                                  <label class="mb-1" for="email">User ID</label>
                                  <div>
                                    <input formControlName="email" type="text" id="email" class="form-control" placeholder="" 
                                    [ngClass]="{'is-invalid': loginForm.controls.email.touched && loginForm.controls.email.invalid }" required>
                                  </div>
                              </div>      
                              <!-- password -->
                              <div class="form-label-group form-label-password">
                                  <label class="mb-1" for="password">Password</label>
                                  <div>
                                    <input formControlName="password" type="password" id="password" class="form-control" placeholder="" 
                                    [ngClass]="{'is-invalid': loginForm.controls.password.touched && loginForm.controls.password.invalid }" required>
                                  </div>
                              </div>
                              <!-- <div class="form-label-group text-right">                              
                                <a class="form-link">
                                  <small>Forgot Password ?</small>
                                </a>
                              </div> -->
                            </div>
                            
                            <div class="form-buttons clearfix my-4">
                              <div class="w-50 float-left text-left">
                                <button type="submit" class="btn button-signin button-signin-blue" value="signIn">Sign In</button>
                                <!-- <button type="submit" [disabled]="!loginForm.valid" class="btn button-signin" value="signIn">Sign In</button> -->
                              </div>
                              <!-- <div class="w-50 float-right text-right">
                                  <button type="submit" class="btn button-cancel" value="cancel">Cancel</button>
                                </div> -->
                            </div> 
                          </div>
                        </div>
                  </div>
              </form>

          </div>
        </div>
          
      </div>
    </div>
  </div>
</div>    