<!-- <p>admin works!</p> -->
<div style="text-align:center">
    <h1>
      Welcome RM102
    </h1>
    <button (click)="logout()">
        Logout
    </button>
</div>
<div style="text-align:center">
    <!-- <iframe src="http://3.6.10.74/views/RMAppnew/TopPriorities?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link" width="80%" height="500px"></iframe> -->
    <!-- <iframe src="http://3.6.10.74/views/RMApp/TopPriorities?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link&:tabs=n" width="80%" height="500px"></iframe> -->
    <!-- <seb-ng-magic-iframe [source]="'http://3.6.10.74/views/RMApp/TopPriorities?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link'" [resizeDebounceMillis]="50"></seb-ng-magic-iframe> -->
   <!-- {{siteId}} -->
   <!-- {{token}} -->
   <!-- <iframe [src]="url | safe" width="80%" height="500px"></iframe> -->
    <!-- <iframe src="http://3.6.10.74/t/RM/views/RM20190108/1?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link" width="80%" height="500px"></iframe> -->
    <!-- <iframe src="http://3.6.10.74/trusted/jdoNwnBWS_yKkfMA1JVCvg==:3_qN7cdFXhfnsEGTAS-f47Xa/t/RM/views/RM20190108/1?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no&:origin=viz_share_link" width="80%" height="500px"></iframe> -->
</div>