button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

/* seb-ng-magic-iframe{
    height: 800px;
    width: 400px;
} */

/* .seb-iframe[_ngcontent-phb-c2]{
    height: 100% !important;
} */