.menu-spacer {
    margin-right: 80%;
}
.mat-toolbar-row {
    width: auto;
    margin: 0 10%;
}
.menu-group-icon-right {
    position: absolute;
    right: 0;
}
.mat-toolbar-row {
    width: auto;
    margin: 0 10%;
    position: relative;
}
.mat-list-item-content:hover {
    background-color: red;
}