<mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <figure style="margin: 0;">
        <img style="vertical-align: bottom;" src="../../assets/Header/Accenture.svg" alt="Accenture logo.">
        <figcaption style="font-size: 8px;">Corporate Banking</figcaption>
      </figure>
      <span class="menu-spacer"></span>
      <div class="menu-group-icon-right">
        <button mat-icon-button>
          <mat-icon [matMenuTriggerFor]="menu">notifications_none</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <button mat-menu-item>Item 3</button>
          <button mat-menu-item>Item 4</button>
        </mat-menu>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard'"> Home </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/regional-segmentation'"> Regional Segmentation </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/client-location'"> Client Location </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/client-cashflow'"> Client Cashflow </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/payment-anomaly'"> Payment Anomaly </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/ecosystem-partners'"> Ecosystem Partners </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="'/dashboard/predicted-analysis'"> Predicted Analysis </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;text-align: center; margin: 10px;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  