/* You can add global styles to this file, and also import other style files */
@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
} */

body {
    /* background-image: url("../src/images/backgroundImage.png"); */
    /* background: transparent url('assets/backgroundImage.png') 0% 0% no-repeat padding-box; */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
